<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>Welcome, {{ profile.user.username }}</h1>
    <p>Email: {{ profile.user.email }}</p>
    <p>First Name: {{ profile.first_name }}</p>
    <p>Last Name: {{ profile.last_name }}</p>
    <p>Role: {{user.role }}</p>
    <p>Bio: {{ profile.bio }}</p>
    <p>Location: {{ profile.location }}</p>
    <p>Contact Number: {{ profile.contact_number }}</p>
    <p><a href="{% url 'user:update_profile' %}">Edit Profile</a></p>

    <p><a href="{% url 'marketplace:home' %}">Visit marketplace!</a></p>
</body>
</html>
