{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% load pwa %}
    {% progressive_web_app_meta %}

    <link rel="manifest" href="manifest.json">
    <head>
        <title>Ukay</title>
        <meta name="description" content="Ukay - Your go-to platform for all your needs.">
        <meta name="keywords" content="Ukay, platform, needs, services">
    </head>
    <body>
          <!-- Navigation Bar -->
        <nav class="navbar">
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'home'}">Marketplace</a></li>
            <li><a href="{% url 'login'}">Login</a></li>

            </ul>
        </nav>

        {% block content %}{% endblock %}
    </body>
</html>